* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png);
  height: auto;
}
.navbar-header {
  overflow: hidden !important;
  width: 100%;
  padding: 0.2em;
  background-image: linear-gradient(
    180deg,
    rgba(56, 49, 49, 0.815),
    rgba(12, 1, 1, 0.856)
  );
  position: fixed;
  top: 0;
  display: inline-block;
  letter-spacing: 0.15em;
  z-index: 10;
}
.navbar {
  float: left;
  justify-content: left;
}
li {
  list-style: none;
  margin-right: 1.5em;
}
#Navbar1 {
  margin-left: 1em;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Source Sans Pro", "Helvetica Neue";
}

#search-bar {
  margin-bottom: auto;
  margin-top: auto;
  height: 2.5em;
  background-color: #353b48;
  border-radius: 2em;
  padding: 0.3em;
  float: right;
}

.search-input {
  color: white;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 1em;
  transition: width 0.2s linear;
}

#search-bar:hover > .search-input {
  padding: 0;
  width: 20em;
  caret-color: red;
  transition: width 0.2s linear;
  text-align: center;
}

#search-bar:hover > .search-icon {
  background: white;
  color: #e74c3c;
}

.search-icon {
  height: 1.5em;
  width: 1.5em;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3em;
  color: white;
  text-decoration: none;
}

.Home {
  width: 100%;
  max-height: 800px;
  display: flex;
  margin-top: 5em;
}
.Title {
  font-family: "Sofia", sans-serif;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.img-show {
  width: 40%;
  max-height: 100%;
  margin: 0 auto;
}
.caption-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #f8bfbf;
  background-color: black;
  margin: 0 auto;
  
}
/* Some positioning and ratios */
.sticky-container {
  width: 20%;
  margin: 0 auto;
  display: block;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;
  width: 100%;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  margin-top: 10em;
  clip-path: url(#stickyClip);
}
@media screen and (min-width: 640px) {
  .sticky:before {
    height: 90%;
    width: 100%;
  }
  .sticky-content {
    font-size: 0.4em;
    text-align: center;
  }
  .Title {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .sticky:before {
    height: 90%;
    width: 100%;
  }
  .sticky-content {
    font-size: 0.7em;
    text-align: center;
  }
  .Title {
    font-size: 2em;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .sticky:before {
    height: 90%;
    width: 100%;
  }
  .sticky-content {
    font-size: 0.9em;
    text-align: center;
  }
  .Title {
    font-size: 3em;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .sticky:before {
    height: 90%;
    width: 100%;
  }
  .sticky-content {
    font-size: 1.4em;
    text-align: center;
  }
  .Title {
    font-size: 4em;
    text-align: center;
  }
}
.about-me{
  margin: 0 auto;
  margin-top: 10em;
  max-height: 1200px;
  width: 40%;
}
h1{
  text-align: center;
  font-size: 3em;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: rgb(255, 0, 0);
}
.mySkill{
  width : 100%;
  background-color: rgb(12, 106, 134);
}
.list-skill{
  font-size: 3em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(212, 212, 212)
}
.img-thumbnail{
  weight: 1em;
  height: 1em;
  margin: 0 auto;
  margin-left: 1em;
}
.table{
  width: 100%;
  margin-top: 5em !important;
  margin: 0 auto;
  text-align: center;
}
.Achievement{
 margin-top: 5em;
}